// -----------------------------------------------------------------------------
// This file contains all styles related to the myaccount asociates component.
// -----------------------------------------------------------------------------

.dashboard-asociates {
    padding: 2rem;
}
.load_affiliates{
  .title-detail{
    font-size: 1.2rem;
  }
  .file-controls{
    margin-top: 1rem;
  }
}
